body {
    font-family: 'Reggae One', cursive;
      font-size: 20px;
      font-weight: bolder;
      line-height: 1;
      background-color: transparent;
       background: url(./assets/Parker/cloudsB&W.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    } 
    
    textarea{
      background: transparent;
      border: none;
      line-height: 24px;
      width:100px;
      border-left: 1px solid black;
      padding: 10px;
     
    }
    
    .jumbotron {
      text-align: center;
      background-color: transparent;
      background-image: url("./assets/Parker/cloudsB&W.jpeg");
      background-size: cover;
      color: black;
      border-radius: 0;
      border-bottom: 10px solid black;
      
    }
    .card4 {
      margin-bottom: 100px;
    
    }
    .card5{
      margin-top: 2px;
    }
    .card6{
      margin-top: 2px;
    }
    .card7{
      margin-top: 2px;
    }